@page "/RClientes/{ClienteId:int}"
@using Tarea3.DAL
@using Tarea3.Data
@using Tarea3.BLL
<h1>Counter</h1>


    <EditForm Model="@Cliente" OnInvalidSubmit="Guardar">
        <DataAnnotationsValidator />

        <div class="form-group col-md-4">
            <label for="Nombres">Nombres</label>
            <InputText @bind-Value="@Cliente.Nombres" class="form-control" />

        </div>

        <div class="form-group col-md-4">
            <label for="Cedula">Cedula</label>
            <InputText @bind-Value="@Cliente.Cedula" class="form-control" />
        </div>

        <div class="form-group col-md-4">
            <label for="Edad">Email</label>
            <InputText @bind-Value="@Cliente.Email" class="form-control" />
        </div>

        <div class="form-group col-md-4">
            <label for="Telefono">Telefono</label>
            <InputText @bind-Value="@Cliente.Telefono" class="form-control" />
        </div>

        <div class="form-group col-md-4">
            <label for="Ciudad">Ciudad</label>
            <InputText @bind-Value="@Cliente.Ciudad" class="form-control" />
        </div>

        <div class="form-group col-md-4">
            <label for="Nacimiento">Año de Nacimiento</label>
            <InputDate @bind-Value="@Cliente.Nacimiento" class="form-control" />
        </div>

        <ValidationSummary />
        <div class="form-group col-md-4">
            <button type="submit" class="btn btn-primary ">SAVE</button>
        </div>


    </EditForm>


    @code {
        public Clientes Cliente { get; set; }

        [Parameter]
        public int ClienteId { get; set; }

        protected override void OnInitialized()
        {
            if (ClienteId > 0)
            {
                Buscar();

            }
        }

        private void Buscar()
        {
            try
            {
                RepositorioBase<Clientes> db = new RepositorioBase<Clientes>();
                Cliente = db.Buscar(ClienteId);
            }
            catch (Exception) { }
        }



        private void Guardar()
        {

            RepositorioBase<Clientes> db = new RepositorioBase<Clientes>();

            try
            {
                if (ClienteId == 0)
                {


                    if (db.Guardar(Cliente))
                    {
                        Cliente = new Clientes();
                    }

                }
                else
                {
                    Cliente.ClientesId = ClienteId;
                    if (db.Modificar(Cliente))
                    {
                        Cliente = new Clientes();
                        ClienteId = 0;
                    }
                }
            }
            catch (Exception) { }
        }
    }
